# we need access to our key manager for any of this to work
export BW_SESSION=$(bw unlock --raw)

export GNUPGHOME=${HOME}/.gnupg

export GPG_KEY="$(bw get item joshlong.com-maven-gpg | jq -r '.fields[] | select(.name == "secret-backup-gpg.tgz-base64-encoded") | .value')"

export PODBEAN_CLIENT_ID="$(bw get item development-podbean | jq -r '.fields[] | select(.name == "client-id") | .value')"
export PODBEAN_CLIENT_SECRET="$(bw get item development-podbean | jq -r '.fields[] | select(.name == "client-secret") | .value')"
